In [83]:
import pandas as pd
import os

In [84]:
file_name = 'names'
path_file = ''.join((os.getcwd(), '\\', file_name, '\\'))
list_file_name = os.listdir(path=path_file)

In [85]:
years_list = [1900, 1950, 2000]

In [86]:
def count_top3(years_list):
    df_file = [f'yob{x}.txt' for x in years_list]
    df_years = (pd.read_csv(path_file + f, header=None, names=['Name', 'Sex', 'Quantity']) for f in list_file_name if f in df_file)
    df_names = pd.concat(df_years)
    df_res = df_names.groupby(['Name', 'Sex']).sum().sort_values(['Quantity'], ascending=False).head(3)
    return df_res

count_top3(years_list)

            Quantity
Name   Sex
James  M      111465
John   M      109341
Robert M      101123

In [87]:
def count_dynamics(years_list):
    df_file = [f'yob{y}.txt' for y in years_list]
    df_years = (pd.read_csv(path_file + f, header=None, names=['Name', 'Sex', 'Quantity']).assign(Year=f[3:7]) for f in list_file_name if f in df_file)
    df_names = pd.concat(df_years)
    df_res = df_names.sort_values(['Year']).groupby(['Sex', 'Year']).sum()
    return df_res

count_dynamics(years_list)

          Quantity
Sex Year
F   1900    299800
    1950   1713151
    2000   1815110
M   1900    150483
    1950   1790549
    2000   1962969